@font-face {
    font-family: "Aniron";
    src: url("/Police/Aniron/anicb___.ttf")
}

@font-face {
    font-family: "Tengwar";
    src: url("/Police/Tengwar/tngan.ttf")
}

@font-face {
    font-family: "Party business";
    src: url("/Police/Party\ business/partybusiness.ttf")
}

.nav-link {
    font-family: "Aniron";
    color: antiquewhite;
}

.nav-color {
    background-color: #f78031;
}

h1 {
    font-size: 27px;
    font-family: "Aniron";
}

.h1 {
    font-size: 20px;
    font-family: "Aniron";
}

span {
    padding-right: 8%;
    font-size: 40px;
}

.badge {
    font-size: 25px;
}

.card-title {
    font-size: 30px;
}

.text-image {
    font-size: 60px;
    margin-bottom: 17%;
    font-family: "Party business";
}

hr {
    color: rgb(0, 0, 0)
}

.card-text1 {
    font-size: 25px;
    color: rgba(180, 175, 175, 0.89);
    font-family: "Party business";
}

.capture {
    background-image: url("/integration_maquette_finale/bg_dark.png")
}

.img-capture {
    float: right;
    border-radius: 50%;
    margin-bottom: 10%;
    width: 17%
}

.name1 {
    margin-left: 15%;
    margin-top: 115%;
    color: white;
}

.name2 {
    margin-left: 15%;
    margin-top: 100%;
    color: white;
}

.name3 {
    margin-left: 30%;
    margin-top: 210%;
    color: white;
}

.back1 {
    background-color: rgba(99, 96, 96, 0.89);
    color: white;
}

.back2 {
    background-color: rgba(180, 175, 175, 0.89);
}

.back3 {
    background-color: rgba(255, 255, 255, 0.89);
}

.back4 {
    background-color: rgba(180, 175, 175, 0.89);
}

table {
    text-align: center;
}

.img-army {
    float: left;
}

.navfooter {
    background-color: rgb(238, 120, 24);
    display: flex;
    justify-content: space-around;
}

ul {
    list-style: none;
}

.navfooter ul li a {
    color: white;
    display: flex;
}

.text-gandalf {
    position: absolute;
    top: 20px;
    left: 75px;
}

.text-gandalf:hover {
    top: 140px;
    left: 45px;
    display: none;
}

.gandalf {
    opacity: 0.3;
}

.gandalf:hover {
    opacity: 1;
}

.text-aragorn {
    position: absolute;
    top: 20px;
    left: 75px;
}

.text-aragorn:hover {
    display: none;
}

.aragorn {
    opacity: 0.3;
}

.aragorn:hover {
    opacity: 1;
}

.text-gimli {
    position: absolute;
    top: 20px;
    left: 90px;
}

.text-gimli:hover {
    top: 140px;
    left: 45px;
    display: none;
}

.gimli {
    opacity: 0.3;
}

.gimli:hover {
    opacity: 1;
}

.reward {
    background-color: white;
    opacity: 0.7;
    border: 10px solid white;
    border-radius: 5px;
}

.reward:hover {
    display: none;
}

.dead {
    color: #f78031;
    font-size: 40px;
    margin-top: 10%;
}

.number {
    color: #f78031;
    font-size: 30px;
}