h1 {
    font-size: 30px;
}

.h1 {
    font-size: 20px;
}

span {
    padding-right: 8%;
    font-size: 40px;
}

.badge {
    font-size: 25px;
}

.card-title {
    font-size: 30px;
}

.text-image {
    font-size: 60px;
    margin-bottom: 10%;
}

hr {
    color: rgb(0, 0, 0)
}

.img-capture {
    float: right;
}

.back1 {
    background-color: rgba(99, 96, 96, 0.89);
    color: white;
}

.back2 {
    background-color: rgba(180, 175, 175, 0.89);
}

.back3 {
    background-color: rgba(255, 255, 255, 0.89);
}

.back4 {
    background-color: rgba(180, 175, 175, 0.89);
}

table {
    text-align: center;
}

.img-army {
    float: left;
}

.navfooter {
    background-color: rgb(238, 120, 24);
    display: flex;
    justify-content: space-around;
}

ul {
    list-style: none;
}

.navfooter ul li a {
    color: white;
    display: flex;
}

.navbar {
    background-color: rgb(238, 120, 24);
    color: rgb(238, 120, 24);
}

.text-gandalf {
    position: absolute;
    top: 20px;
    left: 75px;
}

.text-gandalf:hover {
    top: 140px;
    left: 45px;
    display: none;
}

.gandalf {
    opacity: 0.3;
}

.gandalf:hover {
    opacity: 1;
}

.text-aragorn {
    position: absolute;
    top: 20px;
    left: 75px;
}

.aragorn {
    opacity: 0.3;
}

.aragorn:hover {
    opacity: 1;
}

.text-gimli {
    position: absolute;
    top: 20px;
    left: 90px;
}

.text-gimli:hover {
    top: 140px;
    left: 45px
}

.text-gimli:hover {
	display: none;
}

.gimli {
    opacity: 0.3;
}

.gimli:hover {
    opacity: 1;
}

.reward {
    background-color: white;
    opacity: 0.7;
    border: 10px solid white;
    border-radius: 5px;
}
.dead {
    color: #f78031;
    font-size: 40px;
}

.number {
    color: #f78031;
    font-size: 30px;
}

.name {
    color: white;
}